body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f8ff;
    text-align: center;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px;
}

.subjects {
    padding: 30px 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background-color: white;
    color: #004080;
    border: 2px solid #004080;
    border-radius: 10px;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.card:hover {
    background-color: #004080;
    color: white;
}

footer {
    margin-top: 50px;
    background-color: #eee;
    padding: 15px;
    font-size: 14px;
}